{
	"city_id": "294021",
	"apikey": "MYcIAV2PV3J1ccdAt7jhL7RZwDoVlNXt",
	"infomat_db": {
		"host": "localhost",
		"database": "infomat_qt",
		"user": "postgres",
		"password": "H4TiO4"
	},
	"updater_sql_path": "updater.sql"
} 
